body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 30px;
  width: 500px;
  background-color: #04151f;
  box-shadow: 6px 6px black;
}

.header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.display {
  border: 1px solid black;
  width: 400px;
  background-color: #efd6ac;
  color: #183a37;
  font-size: 40px;
  text-align: end;
}

#clear {
  margin-left: 10px;
}

.buttons {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

button {
  padding: 20px;
  font-size: 20px;
  width: 25%;
  background-color: #183a37;
  color: #efd6ac;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px black;
}

#last-row {
  margin-bottom: 0;
}
